body{
    margin: 0;
    background-color: rgb(177, 235, 177);
}
main{
    width: 80vw;
    /* min-height: 100vh; */
    margin: 0 10vw 100px 10vw;
    background-color: rgb(177, 235, 177);

    padding-top: 10vh;
    display: grid;
    grid-template-columns: 1.5fr 4fr 2fr;
    grid-template-rows: 1fr;
}







/* MainPath.tsx styles */
.main-path{
    width: 100%;
    height: 100%;

    transition: 0.6s all;
}
.section-name-div{
    width: 100%;
    height: 100px;
    background-color: rgb(162, 215, 162);
    border-radius: 10px;
    margin: 50px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 10px 20px 0px #43434370;
}
.section-name-div button{
    margin-right: 10px;
    min-width: 20%;
    background-color: #fff000;
    border: 3px solid rgb(52, 68, 52);
    border-bottom: 5px solid rgb(52, 68, 52);
    color: rgb(52, 68, 52);
}
.section-name-div p{
    margin: 0;
    font-size: 1.5rem;
    color: rgb(52, 68, 52);
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}
.sections-lesson{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sections-lesson button{
    background-color:darkseagreen;
    border-radius: 20px;
    border: 3px solid #fff000;
    width: 250px;
    min-height: 80px;
    box-shadow: 0px 0px 20px 0px gray;
}
.sections-lesson button:nth-child(2n+1){
    margin-left: 40px;
    transform: rotate(1deg);
}.sections-lesson button:nth-child(2n+2){
    margin-right: 40px;
    transform: rotate(-1deg);

}
.sections-lesson button:focus{
    /* get rid of the previous global styles */
    border-bottom: 3px solid #fff000;
}
.sections-lesson button:hover{
    border-bottom: 4px solid #fff000;
    border-top: 4px solid #fff000;
    box-shadow: 0px 0px 20px 0px rgb(172, 159, 87);
}
.sections-lesson button p{
    margin: 0 10%;
    width: 80%;
    font-size: 1.3rem;
    color: rgb(84, 113, 84);
}





/* SecionLessons.tsx styles */
.lessons-div{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    left: 0vw !important;
    background-color: rgb(177, 235, 177);

    transition: 1s transform, 1s opacity;

}
.lessons-div-fadeInAnim{
    position: absolute;
    left: -100vw;
    width: 100vw;
    height: 100vh;

    transition: 1s all;
}
.lessons-div-fadeOutAnim{
    position: absolute;
    left: 100vw;
    width: 100vw;
    height: 100vh;

    transition: 1s all;
}
.single-lesson{
    width: 100%;
    height: 100%;
}
.single-question{
    width: 100%;
    min-height: 30vh;
    box-shadow: 0px 6px 20px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-bottom: 20px;
}
.single-question-title{
    text-align: center;
    font-size: 1.5rem;
    color: #5c7b5c;
    font-weight: bold;
    margin: 24px 10px;
}
.single-question-possibleAnswers,
.single-question-DragAndDrop-words{
    width: 60%;
}
.single-question-possibleAnswers-singleAnswer,
.single-question-DragAndDrop-singleWord{
    font-size: 1.1rem;
    font-size: 1.1rem;
    background-color: #a0a0a05c;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #fff886;
    border: 2px solid rgb(52, 68, 52);
    color: rgb(52, 68, 52);
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
    width: 100%;
    margin: 1vw;

    transition: 0.6s all;
}
.single-question-possibleAnswers-singleAnswer:hover,
.single-question-DragAndDrop-singleWord:hover{
    box-shadow: 0px 0px 10px 0px rgb(83, 83, 83);
}

.singlePossibleAnswer-selected{
    transform: scale(1.05);
    background-color: rgba(255, 252, 252, 0);
}
.singlePossibleAnswer-selected:hover{
    box-shadow: 0px 0px 3px 0px rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0);
}
.single-lesson-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 40px;
    gap: 10px;
}
.single-lesson-buttons button{
    font-size: 1rem;
    width: 150px;
    height: 50px;
}





@media (max-width: 600px) {

  }