button{
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 13px;
    padding: 5px;
    background-color:azure;
    font-weight: bold;
    border: 2px solid black;
    border-bottom: 5px solid black;

    transition: 0.1s all;
}
button:focus{
    border-bottom: 2px solid black;
}
.divider{
    width: 100%;
    min-height: 3px;
    background-color: black;
}